[submodule "modules/terraform-azure-storage"]
	path = modules/terraform-azure-storage
	url = git@github.com:mikamakusa/terraform-azure-storage.git
[submodule "modules/terraform-azure-iothub"]
	path = modules/terraform-azure-iothub
	url = git@github.com:mikamakusa/terraform-azure-iothub.git
